.map-container {
    width: 100%;
    height: 97vh;
    background-color: red;
    display: flex;
    flex-direction: row;
}

.ui-container {
    width: 25%;
    background-color: rgb(223, 223, 223);
}